NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CDEBCEAR3GXUV6KO2T3AOWE5D5J4LDO46GMARBYRAPPD3IPF6GTWA7OP
NEXT_PUBLIC_USDC_TOKEN_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
